body {
 	  border: 5px solid gray;
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
}

h1 {
	  background-color: FloralWhite;

  color: black;
    padding-top: 50px;
	padding-right: auto;
	padding-bottom: 50px;
	padding-left: auto;

}

h3 {
	color: black;
	padding-top: auto;
	padding-right: auto;
	padding-bottom: auto;
	padding-left: auto;
}

#example1 {
	background-color: HoneyDew;
}

